header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #CDE9F6;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


#content {
    padding-top: 100px;
}


#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #CDE9F6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}


#nav_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    color: #3b3b3b;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.05);   
}


#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

#nav_list .nav-item a {
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

#nav_list .nav-item a:hover {
    color: #3b3b3b;
    border-bottom: 2px solid #3b3b3b;
}

#nav_list .nav-item.active a,
#nav_list .nav-item a.active {
    color: #1d1d1dad;
    border-bottom: 3px solid #3b3b3b;
}


nav a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #0077cc;
    border-radius: 2px;
}


.nav-buttons {
    display: flex;
    gap: 12px;
}

.btn-entrar {
    background-color: transparent;
    color: #3b3b3b;
    border: 2px solid #3b3b3b;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-entrar:hover {
    background-color: #3b3b3b;
    color: #fff;
}

.btn-saiba-mais {
    background-color: transparent;
    color: #3b3b3b;
    border: 2px solid #3b3b3b;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.btn-saiba-mais:hover {
    background-color: #3b3b3b;
    color: #fff;
}

.btn-entrar,
.btn-saiba-mais {
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.5px;
}

