@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url("header.css");
@import url("home.css");
@import url("exames.css");
@import url("equipe.css");
@import url("localidades.css");
@import url("formulario.css");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body {
    background-color: #e6f7ff;
    background-image: linear-gradient(to bottom, #e6f7ff, #ffffff);
}


#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 8%;
    z-index: 999;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

#nav_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 1.2rem;
    color: #1d1d1d;
}

#nav_list {
    list-style: none;
    display: flex;
    gap: 24px;
}

#nav_list .nav-item a {
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 500;
    transition: color 0.3s;
}

#nav_list .nav-item a:hover {
    color: #409bd2;
}

.nav-buttons .btn-entrar {
    background-color: transparent;
    color: #3b3b3b;
    border: 2px solid #3b3b3b;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.nav-buttons .btn-entrar:hover {
    background-color: #3b3b3b;
    color: #fff;
}

.btn-default {
    background-color: #87CEFA;
    color: #1d1d1d;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color .3s ease;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.btn-default:hover {
    background-color: #B3C7E6;
}


.social-media-buttons {
    display: flex;
    gap: 18px;
    margin-top: 16px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #87CEFA;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}


section {
    padding: 100px 8% 60px; 
    background-image: url('../images/so-white.png');
    background-repeat: repeat;
    background-size: 200px;
    background-position: center;
}

#main_footer {
    background-color: #CDE9F6;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #333;
    border-top: 1px solid #e0dccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
